p {
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;

}
h1{
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
}
strong {
   font-weight:900
}
li {
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
}
.ql-editor pre {
   background-color: rgba(0,0,0,.75);
   font-size: 14px;
   font-family: 'Space Mono';
   width: 100%;
   max-width: inherit;
   padding: 10px;
}


button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 5px 0 5px
}

.quill {
   height: 95%
}

.ql-hidden {
   display: none;
}